@import url('https://fonts.googleapis.com/css?family=Courgette:100,300,400,400italic,500,700&amp;display=swap');

:root{
    --third: #08042b; 
    --thirdact: #130f40;
    --heder: #04021a;
    --bg: #f2f2f2;
    --light-bg:#eee; 
    --black:#141414; 
    --black2: #222; 
    --prymary: #007bff; 
    --secondary: rgb(229, 233, 236); 
    --borderimg: #0c0835; 

   --light-black:#666; 
   --fourth: rgb(195, 198, 201); 
   --fifth: rgb(216, 223, 231); 
   --sixth:#f0fff7;
   --white: #fff; 
   --borderimg: #00abf0; 
   --border: rgb(94, 94, 94);
   --celete: rgb(0, 141, 248); 
   --celestedos: rgb(108, 174, 224);
}

*{
   font-family: 'Courgette',sans-serif;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none; text-decoration: none;
  /* text-transform: capitalize; */
   transition: .2s linear;
} 

body {
    background-color: var(--thirdact);
} 

body.active{
    --third: #f0e7e7; 
    --thirdact: #f2f2f2;
    --heder: #f2f2f2;
   /* --bg: #130f40;
    --light-bg: #08042b; */
    --bg: #08042b; 
    --light-bg: #130f40; 
    --black: #fff; 
    --black2: #fff; 
}

#theme-btn {
    font-size: 25px; 
    cursor: pointer; 
    color: var(--bg);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background: var(--white);
}

html::-webkit-scrollbar-thumb{
   background: var(--celete);
}

section{
   padding: 3rem 9%;
} 

.heading{
   text-align: center;
   color: var(--bg);
   text-transform: uppercase;
   margin-bottom: 2rem;
   margin-top: 2rem;
   font-size: 4rem;
}

.btn{
   display: inline-block;
   margin-top: 2rem;
   padding: 1rem 2rem; 
   border-radius: .5rem;
   cursor: pointer;
   font-size: 1.7rem;
   color: var(--white); 
   background-color: var(--celete); 
   /* margin-right: 10px; 
   margin-left: 10px;
   border: .1rem solid var(--third); */
} 

.btn:hover{
   background: var(--white);
   color: var(--celete);
}

/* header */ 
.header{
   position: fixed;
   top: 0; left: 0;
   right: 0;
   z-index: 1000;
   display: flex; 
   align-items: center;
   justify-content: space-between;
   padding: 1rem 5%; 
   background: var(--third);
   box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

.header .logo{
    width: 100px;
    height: 80px; 
    border-radius: 50%;
}

.header .navbar a{
   font-size: 2rem;
   margin-left: 2rem;
   color: var(--bg);
}

.header .navbar a:hover{
   color: var(--celete);
} 

.icon {
    display: flex; 
    justify-content: space-between;
    justify-content: center; 
    gap: 10px;
} 

#menu{
   font-size: 2.7rem;
   cursor: pointer;
   color: var(--bg); 
   display: none; 
   margin-top: 1px;
}

/* end */ 
.home {
    background-image: url(../html-navbar/img-navbar/cesped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
} 

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajusta según el tamaño que desees */
    max-width: 1000px;  /* Tamaño máximo para la imagen */
    margin: 0 auto; /* Centra el contenedor en la página */ 
    
    
}

.image-container .logo-primera {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Opcional: bordes redondeados */ 
    margin-top: 100px; 
}

.image-container .text-overlay {
    position: absolute;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombras para mejor visibilidad */
    pointer-events: none; /* Evita que el texto sea interactivo */
} 

.primera {
    max-width: 1200px;
    margin: 0 auto;
} 

.equipos {
    width: 90%; 
    margin: 0 auto;
    height: 100px; 
    background-color: #00abf0; 
    border-radius: 20px; 
    align-content: center; 
    margin-bottom: 20px; 
    box-shadow: 0 0 10px var(--prymary); 
    /* border: 2px solid var(--black); */
} 

.equipos:hover {
    scale: 1.03;
}

.equipos h3 {
    font-size: 64px; 
    color: #000; 
    display: flex;
    text-align: center; 
    justify-content: center;
    align-items: center; 
} 

/* ---------------------------------------------- */ 
/* ---------------------------------------------- */  
/* footer */

.footer{
    /* background: url(./img/13-footer/footer.png); */
    /* margin-top: 2rem; */
    text-align: center; 
    background-color: var(--third); 
    background-image: url(../img-bbf/footer-fixture/5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.footer .icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem; 
    margin-top: 60px;
}

.footer .icons-container .icons{
    text-align: center;
    padding: 1rem 2rem;
}

.footer .icons-container .icons i{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: var(--celete);
    color: white;
    /*color: var(--light-bg);*/
    margin-bottom: .5rem;
    line-height: 5.8rem;
    font-size: 3rem;
}

.footer .icons-container .icons h3{
    font-size: 2rem;
    color: var(--bg);
    padding: 1rem 0;
    text-transform: capitalize;
}

.footer .icons-container .icons p{
    line-height: 1.5;
    font-size: 1.8rem;
    color: var(--bg);
    text-transform: capitalize;
}

.footer .icons-container .icons .link{
    font-size: 1.7rem;
    line-height: 2rem;
    color: var(--celete);
    padding: .5rem 0;
    display: block;
}

.footer .icons-container .icons .link:hover{
    color: var(--bg);
    text-decoration: underline;
}

.footer .share{
    margin: 1rem 0; 
   /* background: url(./img/13-footer/footer.png); */
}

.footer .share a{
    height: 6rem;
    width: 6rem;
    line-height: 5.9rem;
    color: var(--white);
    background: var(--celete);
    margin: 0 .3rem;
    font-size: 3rem; 
    border-radius: 50%;
}

.footer .share a:hover{
    background: var(--white); 
    color: var(--celete);
}

.footer .credit{
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    color: var(--bg);
    border-top: var(--celeste);
} 

.footer .credit span a{
    color: var(--prymary);
    cursor: pointer;
} 
/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 
@media (max-width:1023px){ 
    .servicios-section {
        height: 80vh;
    } 
    
    html{
        font-size: 55%;
    } 

    /* 
    .header{
        padding: 2.5rem 3rem;
    } */
    
    main {
        margin-top: 0px; 
        padding: 0;
    } 
}

@media (max-width: 768px){ 
section{
        padding: 1rem 7%;
} 
.servicios-section {
        height: 80vh;
    } 
#menu {
        display: inline-block;
} 

#menu-btn{
        display: inline-block;
}
    .header {
        padding-right: 7%;
}

.header .navbar{
        position: absolute;
        top: 110%; 
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: var(--third); 
        border-radius: .5rem; 
}

.header .navbar.active{
        right: 2rem;
        transition: .4s linear; 
}

.header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
} 

.header .logo{
    width: 60px;
    height: 60px; 
    border-radius: 50%;
} 

.equipos h3 {
    font-size: 40px;
}

.image-container .logo-primera {
    margin-top: 80px;
} 

.footer{
    background-image: url(../img-bbf/footer-fixture/1\ \(4\).jpeg);
}
}

@media (max-width: 450px){ 


    /* 
    html{
        font-size: 50%;
    } */

    /*
    .header {
        padding: 3rem;
    } */

} 
/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 

.galleri {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px; 
}
  
.galleri img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 0 0 10px var(--prymary); 
    background-color: var(--white);
} 

.galleri img:hover {
    box-shadow: 0 0 20px var(--prymary); 
    scale: 1.04;
}
  
.galleri::after {
    content: "";
    width: 350px;
} 

.equiposss {
    text-align: center; 
} 

.jugador {
    display: flex; 
    flex-direction: column; 
    text-align: center;
} 

.galleri .caras {
    border-radius: 50%; 
    margin-bottom: 5px;
}

.galleri p {
    font-size: 24px; 
    margin-top: 2px; 
    color: var(--bg);
} 

/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 
/* gallery */
#gallery {
    background-color: var(--thirdact);
}
.gallery .gallery-slider .swiper-slide{
    overflow: hidden;
    border-radius: .5rem;
    height: 40rem;
    width: 30rem;
}

.gallery .gallery-slider .swiper-slide img{
    height:100%;
    width: 100%;
    object-fit: cover;
} 
/* ---------------------------------------------- */ 
/* ---------------------------------------------- */  

.sliderete {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 5% 95%,
        transparent
    ); 
    background-color: rgb(204, 220, 233);
} 

.sliderete .list{
    display: flex; 
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
} 

.sliderete .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 20s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (20s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.sliderete .list .item img{
    width: 100%; 
    height: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}

/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 
/* FIXTURE */ 
.fixture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
} 

.fixture img {
    width: 35px;
    height: 35px; 
    border-radius: 50%; 
} 

.fixture p {
   /* font-size: 24px; */
    color: var(--bg); 
} 

.fecha {
    text-align: center; 
    margin-bottom: 5px;
} 

.fecha p {
    font-size: 16px; 
    padding: 2px;
} 

.dyh {
    display: flex; 
    justify-content: space-between; 
    border-top: 2px solid var(--bg); 
    border-left: 2px solid var(--bg);
    border-right: 2px solid var(--bg); 
    padding: 5px;
} 

.cancha {
    border-bottom: 2px solid var(--bg); 
    border-left: 2px solid var(--bg);
    border-right: 2px solid var(--bg); 
   /* border-top: 2px solid var(--bg); */
    padding: 5px;
}

.border {
    display: flex; 
    width: 300px;
    height: 110px; 
} 

.fiximg, .fixnombre, .fixresult{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    text-align: center;
    align-items: center;
    padding: 10px; 
    border: 2px solid var(--bg); 
} 

.fixresult {
    width: 60px;
}

.fixresult p {
    margin-bottom: 8px;
}

.fixnombre p {
    font-size: 24px; 
    margin-bottom: 0px;
}

.fiximg img {
    margin-bottom: 5px; 
  /*  width: 30px; 
    height: 30px; */
} 

.fixnombre {
    border-left: 0px;
    border-right: 0px; 
    text-align: center;
    padding-top: 5px; 
    min-width: 190px; 
} 

.fixnombre p {
    padding-top: 3px; 
} 

.nuevo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 2px solid var(--bg);
} 

.nuevo2 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 2px solid var(--bg);
    border-top: none;
}

.nombre {
    text-align: center; 
    width: 200px; 
} 

.nombre p {
    font-size: 18px; 
} 

.result {
    width: 50px;
    height: 50px;
    border-left: 2px solid var(--bg);
    text-align: center; 
    align-items: center;
    display: flex;
    justify-content: center;
} 

.result p { 
    font-size: 18px; 
}

.nuevo img { 
    width: 40px;
    height: 40px; 
} 

.cont {
    width: 50px;
    height: 50px;
    border-right: 2px solid var(--bg);
    text-align: center; 
    align-items: center;
    display: flex;
    justify-content: center; 
    /* background-color: var(--white); */
} 

.acordeon {
    border: 2px solid var(--bg);
    border-top: none; 
    width: 304px;
   /*  margin-top: 10px; */ 
 /*  border-bottom: 1px solid var(--bg); */
}

.acordeon-btn {
    background-color: var(--prymary);
    color: var(--bg);
    border: none;
    width: 100%;
    padding: 10px; 
    text-align: center;
    font-size: 16px;
    cursor: pointer; 
}

.acordeon-btn:hover {
   /* background-color: var(--prymary); */
   background-color: var(--bg);  
   color: var(--thirdact); 
   
} 

.acordeon-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: var(--thirdact);
    padding: 0 10px;
 /*   border-top: 1px solid var(--bg); */
}

.acordeon-content p {
    margin: 5px 0;
    font-size: 16px;
}

/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 
.table-container {
    overflow-x: auto;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 
@media screen and (max-width: 767px) {
    .table-container {
        margin-bottom: 100px;
    }
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    font-size: 16px;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
th {
    background-color: #007bff;
    color: white; 
    font-size: 14px;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
.team-name {
    text-align: left;
    padding-left: 15px;
}
.team-logo {
    width: 40px;
    height: 40px;
    object-fit: cover; 
    border-radius: 50%;
} 

/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 

.reglamento { 
    max-width: 1200px; 
    margin: 0 auto;
} 

.reglamento p {
    font-size: 20px; 
    color: var(--bg); 
    text-align: center;
} 


.gayeri {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px; 
}
  
.gayeri p { 
    font-size: 16px;
    color: var(--white); 
    background-color: var(--prymary); 
    border-radius: 5px; 
    padding: 5px 10px;
} 

.gayeri p:hover { 
    scale: 1.1; 
    color: var(--prymary); 
    background-color: var(--white); 
}

/*
.gayeri::after {
    content: "";
    width: 350px;
} */


/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 

.gallerri {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px; 
}
  
.botones img {
  /*   width: 500px; */
    height: 100px;
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 0 0 10px var(--prymary); 
    border-radius: 50px;
} 

.gallerri img:hover {
    box-shadow: 0 0 20px var(--prymary); 
    scale: 1.04;
}

/*
.galleri::after {
    content: "";
    width: 350px;
} */

.botones {
    text-align: center; 
} 

@media (max-width: 768px) {
.galleri {
    padding: 0px 5px;
}
.botones img {
    width: 300px;
    margin: 0 auto; 
    height: 60px;
} 

} 


